section{
	margin-top: 70px;
    background-color: white;
    height: 500px;
    width: 100%;
}
section > aside {
    background : linear-gradient(120deg, #8e44ad, #2980b9);
	background-color: #caf2f4;
    height: 100%;
    width: 20%;
	float:left;
}
aside > ul {
	list-style-type: none;
    text-decoration: none;
}
aside > ul > li > a {
    text-decoration: none;
    color: white;
}