* {
    margin-top: 10px;
    box-sizing: border-box;
}

form.signup>input[name=id], form.signup>input[name=id], form.signup>input[name=pwd], form.signup>input[name=pwd1],form.signup>input[name=name] {
    width: 50%;
    display: block;
}

button.dupchk{
    width: 50%;
    background-color: aquamarine;
    display: block;
}

button.signup {
    display: none;
}